<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
<!--<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script-->
<script type="text/javascript">
    var list = {{ List }}
    var dic = {{ Dict }}
    
</script>
</head>
<body>
<div id="list"> 
    <br> ----------Start---------- 
</div>
<div id='dict'></div>

<table border="1">
<tr>
    <td>
        {{ List }}
    </td>

    <td>
        {{ Dict }}
    </td>
</tr>
<tr>
    <td>
        colume1
    </td>

    <td>
        colume2
    </td>
</tr>

</table>
</body>
</html>
